.card-container {
    display: flex;
    flex-wrap: wrap;
    
   }
   
   .card {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    margin: 4vw;
    
   }
   
   .card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
   }
   
   .card h3 {
    margin: 1rem 0;
   }
   
   .card p {
    margin: 0;
   }
   