.Home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, #474747 91%);
 
}
.Body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.Background {
    object-fit: cover;
    width: 100%;
    height: 90%;
   
}

/* .BtnIniciar {
    position: absolute;
    bottom: 0;
    margin-bottom: 10vh;
    width: 12vw;
    border-radius: 15px;
    padding: 12px;
    background-color: rgb(224, 188, 57);
    border-style: none;
    box-shadow: rgba(0, 0, 0, 0.626) 0px 14px 28px, rgba(0, 0, 0, 0.463) 0px 10px 10px;
} */

.BtnIniciar {
    display: inline-block;

    border-radius: 3rem;
    background-color: rgb(233, 182, 0);
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: .15rem;
    transition: all .3s;
    position: absolute;
    bottom: 0;
    margin-bottom: 10vh;
    overflow: hidden;
    z-index: 1;
}

a{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 99%;
        height: 100%;
        background-color: rgb(233, 182, 0);
        border-radius: 10rem;
        z-index: -2;
      }
      &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color:#5f4a17;
        transition: all .3s;
        border-radius: 0rem;
        z-index: -1;
      }
      &:hover {
        color: #ffffff;
        &:before {
          width: 100%;
        }
      }
    }


  
  a span{
    position: relative;
    z-index: 2;
  }
  
 